<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBs1k8eovMRKRgP1HNQOMDHlZgRIK4kNIk</string>
	<key>GCM_SENDER_ID</key>
	<string>293665904856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tawjihi.tawjihi</string>
	<key>PROJECT_ID</key>
	<string>tawjihi-44045</string>
	<key>STORAGE_BUCKET</key>
	<string>tawjihi-44045.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293665904856:ios:9fedd0135b140deaf8dfad</string>
</dict>
</plist>